* {
   padding: 0px;
   margin: 0px;
}
.inputContainer {
   display: flex;
   justify-content: center;
   border-bottom: 1px solid black;
   gap: 10%;
   padding: 20px 100px;
   position: sticky;
}

.displayContainer {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   row-gap: 30px;
   margin-top: 20px;
   padding: 20px;
}
.displayContainer > div {
   height: 60px;
   width: 100px;
   background-color: green;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   transition: all 0.5s ease-in-out;
}
.displayContainer > div:hover {
   transform: rotate(360deg);
   border-radius: 50%;
}
span {
   width: 45px;
   height: 0px;
   line-height: 100px;
   border: 1px dotted red;
}

.displayContainer div:first-child {
   background-color: rgb(255, 81, 0);
   animation: headandlast 3s linear 0s infinite;
}
.displayContainer div:last-child {
   background-color: rgb(0, 119, 255);
   animation: headandlast 3s linear 0s infinite;
}

@keyframes headandlast {
   0% {
      font-size: 30px;
   }
   50% {
      font-size: 40px;
      background-color: rgb(255, 255, 255);
   }
   100% {
      font-size: 30px;
   }
}

select,
button {
   height: fit-content;
   padding: 5px 14px;
}

textarea {
   width: 600px;
}

@media all and (min-width: 200px) and (max-width: 700px) {
   .inputContainer {
      display: grid;
      background-color: rgb(48, 135, 206);
   }
   textarea {
      height: 30px;
   }
}
#inputVal {
   display: none;
}
